name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:

  publish:

    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Build Release
        run: cargo build --release

      - name: Create Artifact Directory
        run: mkdir artifact

      - name: Copy Executable
        run: cp target/release/shawzin.exe artifact/

      - name: Copy Sounds Folder
        run: cp -r sounds/ artifact/sounds/

      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: shawzin
          path: artifact/
